html {
  background-color: #282c34;
}

.ArtPage{
  color: whitesmoke;
}
 .ArtPage a{
   color: whitesmoke;
 }

.ArtPage a:hover{
  color: fuchsia;
  text-shadow: 2px 0 whitesmoke;
}

.FilterPage{
  color: whitesmoke;
  padding: 1rem;
  display: grid;
  justify-content: center;
}
.FilterPage a{
  color: whitesmoke;
}

.FilterPage a:hover{
  color: fuchsia;
  text-shadow: 2px 0 whitesmoke;
}

.FilteredList{
  width: 65%;
  min-width: 170px;
}

.SketchFrame{
  padding: 1rem;
  display: grid;
  justify-content: center;
}

.descriptionCard{
  background: whitesmoke;
  margin: 0.4rem 0.6rem 1.6rem;
  padding: 0.8rem;
  min-width: 170px;
  width: 18%;
  color: darkslategray;
  box-shadow: 10px 10px 1px #12181f;
}

.SketchNav{
  margin: 2rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.SketchWall{
  width: 85%;
}