html {
  background-color: #282c34;
  margin-left: 8%;
}

.ArtPage{
  color: whitesmoke;
}
 .ArtPage a{
   color: whitesmoke;
 }

.ArtPage a:hover{
  color: fuchsia;
  text-shadow: 2px 0 whitesmoke;
}

.SketchFrame{
  padding: 1rem;
}

.descriptionCard{
  background: whitesmoke;
  margin: 0.4rem 0.6rem;
  padding: 0.8rem;
  min-width: 120px;
  width: 18%;
  color: darkslategray;
  box-shadow: 10px 10px 1px #12181f;
}